<header class="header">
    <h1 class="header__title">{{ title }}</h1>
    <nav>
        <ul class="nav-bar-list">
            <li>
                <a rounterLink="home" rounterLinkActive="ativado">Home</a>
            </li>
            <li>
                <a rounterLink="extrato" rounterLinkActive="ativado">Extrato</a>
            </li>
            <li>
                <a rounterLink="login" rounterLinkActive="ativado">Login</a>
            </li>
                
        </ul>
    </nav>
</header>
